Backend/.venv/
localhost+1-key.pem
localhost+1.pem
Backend/.env
Backend/agents
SpeakingAgent/EnglishExam
Backend/.node_modules
Frontend/.node_modules
Backend/node_modules
Frontend/node_modules
Frontend/dist
Backend/uploads/audio
Backend/google-credentials.json
localhost+*-key.pem
localhost+*.pem
SpeakingAgent/__pycache__
